/***********Custom Properties**************/
:root{
    --first-color:#A4161A;
    --first-alpha-color:rgba(164,22,26,0.75);
    --second-color:#14192D;
    --second-alpha-color: (20,25,45, 0.75);
    --third-color:#02411e;
    --third-alpha-color: (2,65,30, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color:#509ee3;
    --title-color:#333;
    --text-color:#222;
    --white-alpha-color: rgba(255,255,255, 0.5); 
    --black-alpha-color: rgba(0,0,0, 0.5);
    --gray-alpha-color: rgba(60, 60,60, 0.5); 
    --font: 'Open Sans', sans-serif;;
    --font-milonga: "Milonga", cursive;
    --max-width: 1200px;
    --header-height: 4rem;
 
 }
 /*********Reset***********/
 html{
     box-sizing: border-box;
     font-family: var(--font);
     font-size: 16px;
     scroll-behavior: smooth;
 }
 
 *,
 *::after,
 *::before{
     box-sizing: inherit;
 }
 body{
     margin: 0;
     overflow-x: hidden;
     color: var(--text-color);
 }
 a{
     color:var(--link-color);
     transition: all 0.5s ease-out;
 }
 a:hover{
     opacity:0.75;
 }
 /*h1=32px,h2=24px,h3=18px,h4=16px,h5=13px,h6=11px*/
 h1{
     margin: 0;
     font-size: 2rem;
     font-family: var(--font-milonga);
 }
 h2{
     margin: 0;
     font-size: 1.5rem;
 }
 h3{
     margin: 0;
     font-size: 1.25rem;
 }
 h4{
     margin: 0;
     font-size: 1rem;
 }
 h5{
     margin: 0;
     font-size: 0.85rem;
 }
 h6{
     margin: 0;
     font-size: 0.7rem;
 }
 img{
     max-width: 100%;
     height: auto;
 }
 p{
     line-height: 1.6;
 }
/***********Componentes*************/ 
/*********HeroImage***********/
.hero-image{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--hero-attachment);
}
.hero-image-opacity{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hero-opacity-color);
    text-align: center;
}
.hero-image-title{
    font-size: 7.5vw;
    color: var(--hero-text-color)
}
.hero-image-content{
    width: 100%;
    min-width: 320px;
}

/*********Utilities***********/
.avatar{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.bg-gray-light{
    background-color: var(--gray-light-color);
}
.box-shadow-1{
    box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0, 0.25)
    
}
.btn{
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white--color);
    background-color: var(--first-color);
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width:var(--max-width);
    
}
.gray-scale{
    filter: grayscale(1);
}
.none{
    display: none;
}
.section{
    padding: 2rem 1rem;
}
.section-title{
    font-family: var(--font-milonga);
    font-weight: 650;
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 300px;
    text-align: center;
    color: var(--title-color);
}
.text-first-color{
    color:var(--first-color)
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
@media screen and (min-width:1024px) {
    .full-lg-screen{
        width: 100%;
        min-height: 100vh;
    }
    .text-lg-center{
        text-align: center;
    }
    .text-lg-left{
        text-align: left;
    }
    .text-lg-right{
        text-align: right;
    }
}

/**********Estilos del sitio***********/
.card{
  height: 420px;
}
.footer {
  background-color: var(--black-color);
  margin-top: 2rem;
  padding-top: 3rem;
 }
.footer-title{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
  color: var(--white-color);
}
.footer-item{
    
    font-size: 16px;
    color: #D3D3D3;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    border-left: thin solid var(--white-color);
    padding-left: 0.5rem;
     
}
.footer-item svg{
  font-size: 16px;
  color: #D3D3D3;
}
.footer-item:hover{
  color: var(--first-alpha-color);
}
.footer-firma{
  margin-top: 2rem;
  padding-bottom: 1.5rem;
  color: var(--white-alpha-color);
  text-align: center;
  
}
.footer-firma a{
  text-decoration: none;
  color: var(--gray-color);
}
.footer-firma a:hover{
  
  color: goldenrod;
}
/*********HeroImage-Imagenes***********/
.hero-image-inicio{
  background-image: url('../assets/InicioImg/CholaGuia.jpg');
  }
.hero-image-boca{
    background-image: url('../assets/InicioImg/Hinchada.jpg');
    }

    .portfolio-card{
      position: relative;
      width: 100%;
      margin: 0.5rem auto;
      padding: 0rem 0.5rem;
      display: block;
      justify-content: space-between;
  
  }
  .portfolio-card img{
      width: 100%;
      height: 300px;
      object-fit: cover;
  
  }
  .portfolio-card-info{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--first-alpha-color);
      color: var(--white-color);
      padding: 1rem;
      opacity: 0;
      pointer-events: none;  
      transition: all 0.5s ease-in-out; 
  }
  .portfolio-card:hover .portfolio-card-info{
      opacity: 1;
      pointer-events: auto;
  
  }
  .portfolio-card-info > div{
      padding: 1rem;
      border: thin solid var(--white-color);
      width: 100%;
      height: 100%;
  
  }
  
  

.section-title-inicio{
    font-family: var(--font-milonga);
    font-weight: 650;
  
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    
    min-width: 300px;
    text-align: center;
    color: var(--title-color);
}
.section-title-tours{
  font-family: var(--font-milonga);
  font-weight: 600;
  
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  
  width: 300px;
  text-align: center;
  color: var(--title-color);
} 
.section-title-otros{
  font-family: var(--font-milonga);
  font-weight: 600;
  
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  
  width: 240px;
  text-align: center;
  color: var(--title-color);
}
.otrosTours{
  display: grid;

}
.tour-card{
  height: 240px;
  width: 80%;
  background-color: var(--black-color);
  border-radius: 5px;
  margin: 0.5rem auto;
}
.tour-card img{
  width: 100%;
  height: 80%;
  border-radius: 5px;
}
.tour-card a{
  text-decoration: none;
}
.tour-card h3{
  color: var(--white-color);
  text-align: center;
  margin-top: 0.5rem;
  
}
.tour-card h3:hover{
  color: var(--first-color);
}
@media screen and (min-width:768px){
  
  .otrosTours{
    grid-template-columns: repeat(2,48%);
    justify-content: space-evenly;
    
  }
  .portfolio > .container{
    display: grid;
    grid-template-columns: repeat(2, 50%);

}
.portfolio .section-title{
    grid-column: span 2;
}

.portfolio-info{
    margin-left: 1rem;
    align-self: center;
}
  .section-title{
    width: 420px;
  }
  .section-title-inicio{
  width: 450px;
}
  
}
@media screen and (min-width:1024px){
  .about{
    display: grid;
    justify-content: space-between;
    align-content: center;
  }
.portfolio > .container{
  grid-template-columns: repeat(3, 1fr);

 }
.portfolio .section-title{
  grid-column: span 3;
 }
}
  .headerNavA {
    font-family: 'Milonga';
    color: #D3D3D3;
    font-weight: bold;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px; }
  
  .titulo__tipografia, .subtitulo__tipografia {
    font-weight: bold;
    font-size: 32px;
    color: #B22222;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1vw; }
  
  .subtitulo__tipografia {
    font-size: 24px;
    text-align: start; }
  
  .form_tipografia {
    font-size: 20px;
    font-style: normal;
    text-align: justify;
    color: #161A1D; }
  
  .imgCarousel {
    margin: 10px 10px 10px 10px;
    border: solid 2px; }
  
  .Carousel__tipografia, .Carousel__tipografia--titulo, .carouselTestimonios__titulo, .Carousel__tipografia--white {
    font-size: 16px;
    text-align: justify; }
  
  .Carousel__tipografia--titulo, .carouselTestimonios__titulo {
    font-size: 24px;
    text-decoration: none;
    color: #D3D3D3; }
  
  .Carousel__tipografia--white {
    color: #D3D3D3; }
  
  .Dropdown__tipografia {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: #D3D3D3; }
  
  .tipografia {
    font-size: 16px;
    font-style: normal;
    color: #161A1D;
    text-align: justify; }
  
  .hoverred :hover {
    color: #E5383B; }
  
  
  .footer__espaciador {
    max-width: 100%;
    height: 5vh;
    background-color: #0B090A; }
  
  .footer__final {
    max-width: 100%;
    height: 12.5vh;
    background-color: #0B090A; }
  
  .footer__borderR {
    border-right: solid 1px #D3D3D3; }
  
  .Footer__tipografia {
    font-size: 16px;
    color: #D3D3D3;
    text-decoration: none;
    justify-content: center;
    align-content: center; }
  
  .containerInicio__tours__imgtamaño {
    max-width: 100vw;
    height: 70vh;
    background-color: #0B090A; }
  
  .containerInicio__imgTamaño {
    height: 70vh; }
  
  .container__inicio__titulo {
    color: #D3D3D3;
    font-size: 5vw;
    text-align: center;
    font-weight: bolder; }
  
  .carousel__tamaño {
    height: 60vh; }
  
  .navbar__redsocial {
    color: #D3D3D3;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none; }
  
  .tabla__background {
    background-color: #A4161A; }
  
  #carouselTestimonios {
    background-size: 100%;
    width: 100%;
    height: 60%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8); }
  
  .carouselTestimonios__titulo {
    margin-left: 5%;
    padding-top: 1%;
    color: #B22222;
    font-weight: bold; }
  
  .carouselTestimonios__opinion {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    position: relative;
    padding: 1%;
    font-size: 12px;
    margin-top: 1%;
    border-radius: 10px;
    color: #000000;
    background: rgba(123, 128, 136, 0.3);
    overflow-wrap: hidden; }
  
  .carouselTestimonios__Turista {
    width: 40%;
    height: 40%;
    margin: auto;
    margin-top: 1%;
    color: #161A1D;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 2%;
    align-items: center; }
  
  .carouselTestimonios__Imagen {
    width: 60%;
    height: 60%; }
  
  .tours__tamaño {
    height: 60hv; }
  
  .otrostours__tamaño {
    height: 50vh; }
  