*{
    margin: 0;
    padding: 0;  
    }
    $background-color:  #A4161A;
    $font-Otra: Milonga;
    $font-tamaño-standard: 16px;
    $texto: #161A1D;
    $rojo: #A4161A;
    $rojo2: #E5383B;
    $fondo: #0B090A;
    $texto2: #D3D3D3;
    body{
    margin: 0;
    background-color: $rojo;}
    
    @font-face {
        font-family: x;
        src: url('css/fonts/Milonga-Regular.ttf'); 
        src:url('css/fonts/Milonga-Regular.otf');
        font-weight: normal;
        font-style: normal;
    }
    
    .Milonga {
        font-family: 'Milonga';
    }
    .headerNavA{
    font-family: 'Milonga';
    color: $texto2;
    font-weight: bold;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    .titulo__tipografia{
    @extend.Milonga;
    font-weight: bold;
    font-size: ($font-tamaño-standard * 2);
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1vw;}
    .subtitulo__tipografia{
    @extend.titulo__tipografia;
    font-size: ($font-tamaño-standard *1.5);
    text-align: start;}
    
    .form_tipografia{
    font-size: ($font-tamaño-standard * 1.25);
    font-style: normal;
    text-align: justify;
    color: $texto;}  
    .imgCarousel{
    margin: 10px 10px 10px 10px;
    border: solid 2px;}
    .Carousel__tipografia{
    font-size: $font-tamaño-standard;
    text-align: justify;
    }
    .Carousel__tipografia--titulo{
    @extend.Carousel__tipografia;
    font-size: ($font-tamaño-standard *1.5);
    text-decoration:none;
    color: $texto2;
    }    
    .Carousel__tipografia--white{
    @extend.Carousel__tipografia;
    color: $texto2;
    }
    
    .Dropdown__tipografia{
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-tamaño-standard;
    font-weight: bolder;
    color: $texto2;}
    .tipografia{
    font-size: $font-tamaño-standard;
    font-style: normal;
    color: $texto;
    text-align: justify;
    }
    .hoverred :hover{
    color: $rojo2;}
    
    
    .footer{
    background-color: $fondo;
    }
    .footer__comienzo{
    max-width: 100%;
    height: 5vh;
    background-color: $fondo;
    }
    .footer__final{
    max-width: 100%;
    height: 5vh;
    background-color: $fondo;
    }
    .footer__borderR{
    border-right: solid 1px $texto2;
    }
    
    .Footer__tipografia{
    font-size: $font-tamaño-standard;
    color: $texto2;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    }
    
    
    .containerInicio__tours__imgtamaño{
    max-width: 100vw;
    height: 70vh;
    background-color: $fondo;}
    .containerInicio__imgTamaño{height: 70vh;
    }
    .container__inicio__titulo{
    @extend.Milonga;
    color: $texto2;
    font-size: 5vw;
    text-align: center;
    font-weight: bolder;
    }
    .carousel__tamaño{
    height: 60vh;}
    
    
    .navbar__redsocial{
    color: $texto2;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;}
    .tabla__background{
    background-color:$background-color
    }
    
    
    
    #carouselTestimonios{
    
    background-size: 100%;
    width:100%;
    height:60%;
    box-shadow:0px 0px 20px rgba(0,0,0,0.8)
    }
    
    .carouselTestimonios__titulo{
    @extend.Carousel__tipografia--titulo;
    margin-left:5%;
    padding-top:1%;
    color: $texto2;
    font-weight: bold;
    }
    .carouselTestimonios__opinion{
    width:80%;
    height: 40%;
    margin:0 auto;
    position:relative;
    padding: 1%;
    font-size: 12px;
    margin-top:1%;
    border-radius:10px;
    color: $texto2;
    background:rgba(123, 128, 136, 0.3);
    overflow-wrap: hidden;
    }
    
    .carouselTestimonios__Turista{
    width:40%;
    height: 40%;
    margin: auto;
    margin-top:1%;
    color: $texto;
    font-size:16px;
    text-align:center;
    border-radius:5px;
    background:rgba(255, 255, 255, 0.2);
    margin-bottom: 2%;
    align-items: center;}
    .carouselTestimonios__Imagen{
    width: 60%;
    height: 60%;
    }
    .tours__tamaño {
    height: 60hv; }
    
    .otrostours__tamaño {
    height: 50vh; }