@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  background-color: #A4161A; }

@font-face {
  font-family: x;
  src: url("css/fonts/Milonga-Regular.ttf");
  src: url("css/fonts/Milonga-Regular.otf");
  font-weight: normal;
  font-style: normal; }

.Milonga, .titulo__tipografia, .subtitulo__tipografia, .container__inicio__titulo {
  font-family: 'Milonga'; }

.headerNavA {
  font-family: 'Milonga';
  color: #D3D3D3;
  font-weight: bold;
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px; }

.titulo__tipografia, .subtitulo__tipografia {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 1vw; }

.subtitulo__tipografia {
  font-size: 24px;
  text-align: start; }

.form_tipografia {
  font-size: 20px;
  font-style: normal;
  text-align: justify;
  color: #161A1D; }

.imgCarousel {
  margin: 10px 10px 10px 10px;
  border: solid 2px; }

.Carousel__tipografia, .Carousel__tipografia--titulo, .carouselTestimonios__titulo, .Carousel__tipografia--white {
  font-size: 16px;
  text-align: justify; }

.Carousel__tipografia--titulo, .carouselTestimonios__titulo {
  font-size: 24px;
  text-decoration: none;
  color: #D3D3D3; }

.Carousel__tipografia--white {
  color: #D3D3D3; }

.Dropdown__tipografia {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: #D3D3D3; }

.tipografia {
  font-size: 16px;
  font-style: normal;
  color: #161A1D;
  text-align: justify; }

.hoverred :hover {
  color: #E5383B; }

.footer {
  background-color: #0B090A; }

.footer__comienzo {
  max-width: 100%;
  height: 5vh;
  background-color: #0B090A; }

.footer__final {
  max-width: 100%;
  height: 12vh;
  background-color: #0B090A; }

.footer__borderR {
  border-right: solid 1px #D3D3D3; }

.Footer__tipografia {
  font-size: 16px;
  color: #D3D3D3;
  text-decoration: none;
  justify-content: center;
  align-content: center; }

.containerInicio__tours__imgtamaño {
  max-width: 100vw;
  height: 70vh;
  background-color: #0B090A; }

.containerInicio__imgTamaño {
  height: 70vh; }

.container__inicio__titulo {
  color: #D3D3D3;
  font-size: 5vw;
  text-align: center;
  font-weight: bolder; }

.carousel__tamaño {
  height: 60vh; }

.navbar__redsocial {
  color: #D3D3D3;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none; }

.tabla__background {
  background-color: #A4161A; }

#carouselTestimonios {
  background-size: 100%;
  width: 100%;
  height: 60%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8); }

.carouselTestimonios__titulo {
  margin-left: 5%;
  padding-top: 1%;
  color: #D3D3D3;
  font-weight: bold; }

.carouselTestimonios__opinion {
  width: 80%;
  height: 40%;
  margin: 0 auto;
  position: relative;
  padding: 1%;
  font-size: 12px;
  margin-top: 1%;
  border-radius: 10px;
  color: #D3D3D3;
  background: rgba(123, 128, 136, 0.3);
  overflow-wrap: hidden; }

.carouselTestimonios__Turista {
  width: 40%;
  height: 40%;
  margin: auto;
  margin-top: 1%;
  color: #161A1D;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 2%;
  align-items: center; }

.carouselTestimonios__Imagen {
  width: 60%;
  height: 60%; }

.tours__tamaño {
  height: 60hv; }

.otrostours__tamaño {
  height: 50vh; }
